<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnd.sixth.lmsservice">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMSService">

        <activity
            android:name=".presentation.lesson.progress.ClassProgressActivity"
            android:exported="true"></activity>
        <activity
            android:name=".presentation.feedback.WriteFeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.feedback.StartFeedBackActivity"
            android:exported="false" />
        <activity
            android:name="com.dnd.sixth.lmsservice.presentation.home.classes.calendar.detail.ScheduleDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="com.dnd.sixth.lmsservice.presentation.home.classes.calendar.add.ClassAddActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.login.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.dnd.sixth.lmsservice.presentation.home.classes.manage.making.MakeClassActivity"
            android:exported="false" />

        <activity
            android:name="com.dnd.sixth.lmsservice.presentation.home.HomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>